
		body{
			background-image: url("../img/fondo.gif");

		}
		#escenario{
			position: relative;
    		width: 28.15em; 
    		height: 28.2em; 
    		margin:0 auto;
    		overflow: hidden;
    		margin-top: 5%;


		}
		.blocks{
			background-color: green;
			width: 28.15em; 
    		height: 28.2em; 
			position: absolute;
			margin: auto;
		}
		.block{
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-top: -3.5px;
		}
		#bomba, #explosion{
			position: absolute;
		}
		#img_ganador{
			width: 40px;
			height: 30px;
		}
		#img_perdedor{
			width: 30px;
			height: 30px;
		}
		#img_block, #img_obstaculo, #suelo, #img_muro,#img_jugador,#img_bomba, #explosion,#img_melon{
			width: 30px;
			height: 30px;

		}
		#ganador{
			width: 28.15em; 
    		height: 28.2em; 
    		margin: 0 auto;
    		position: absolute;
		}
		#perdedor{
    		position: absolute;
		}

		.img_perdedor{
			width: 30em; 
    		height: 30em; 
		}
		

	#divTiempo{
		margin-left: 34%;
		margin-top: -3%;
		position: absolute;
		font-family: fantasy;
		color: red;
		font-size: 29px;
	}
	#tiempo{
		float: left;
		margin-left: 80%;
		margin-top: -33%;
		font-family: fantasy;
		font-size: 29px;

	}
	#contenedor{
		position: relative;
	}